@model SportsLogger.Models.DataModels.Series

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Series</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeriesName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeriesName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.District)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.District.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeriesStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeriesStatus.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Admin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Admin.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
