@model SportsLogger.Models.DataModels.Game

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Game</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GameDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GameDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GameNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GameNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TSMNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TSMNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GameCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GameCategory.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GameStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GameStatus.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GameType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GameType.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Series)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Series.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Arena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Arena.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HomeTeam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomeTeam.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AwayTeam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AwayTeam.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HomeTeamScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomeTeamScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AwayTeamScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AwayTeamScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HD1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HD1.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HD2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HD2.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LD1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LD1.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LD2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LD2.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
